:root {
  --primary: #252830;
  --secondary: #434857;
  --text: #FFFFFF;
  --text-placeholder: rgba(255, 255, 255, 0.5);

  --button-add: #1997C6;
  --button-reset: #c4a719;
  --button-remove: #E64759;

  --progress-bar: #5DD527;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: var(--text-placeholder);
}

html, body {
  width: 100%;
  height: 100vh;

  background: var(--primary);
  color: var(--text);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 500px;
  height: 40px;

  border-radius: 10px;

  transition: top .5s;
}

.notification__text {
  text-align: center;
  line-height: 40px;
}

.notification--info {
  background: var(--button-add);
}

.notification--error {
  background: var(--button-remove);
}

.notification--show {
  top: 30px !important;
}

header {
  width: 50%;
  margin-bottom: 10px;
}

header h1, header h2 {
  text-align: center;
}

main {
  width: 50%;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main > * {
  margin: 10px 0;
}

main .token {
  height: 30px;

  display: flex;
  justify-content: space-around;
}

main .token__input {
  flex-grow: 1;
  height: 100%;

  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;

  border: none;
  background: var(--secondary);
  color: var(--text);
}

main .token__help {
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 10px;
  background: var(--secondary);
  color: var(--text);
  cursor: pointer;
}

main .emote-list {
  flex-grow: 1;
}

main .emote-list__textarea {
  width: 100%;
  height: 100%;

  padding: 10px;

  border: none;
  border-radius: 10px;

  background: var(--secondary);
  color: var(--text);

  overflow-y: auto;
  resize: none;
}

main .progress-bar {
  height: 15px;

  border-radius: 10px;

  background: var(--secondary);
}

main .controls {
  height: 40px;

  display: flex;
  justify-content: space-around;
}

main .controls > * {
  height: 100%;
  width: 150px;

  border: none;
  border-radius: 10px;
  background: none;
  color: var(--text);

  cursor: pointer;

  transition: .25s;
}

main .controls__add {
  color: var(--button-add);
  border: 1px solid var(--button-add);
}

main .controls__add:hover {
  color: var(--text);
  background: var(--button-add);
}

main .controls__reset {
  color: var(--button-reset);
  border: 1px solid var(--button-reset);
}

main .controls__reset:hover {
  color: var(--text);
  background: var(--button-reset);
}

main .controls__remove {
  color: var(--button-remove);
  border: 1px solid var(--button-remove);
}

main .controls__remove:hover {
  color: var(--text);
  background: var(--button-remove);
}
