$primary: #252830;
$secondary: #434857;
$text: #FFFFFF;
$text-placeholder: rgba(255, 255, 255, 0.5);

$button-add: #1997C6;
$button-reset: #c4a719;
$button-remove: #E64759;

$progress-bar: #5DD527;

$font: 'Roboto', sans-serif;
