@import './theme';

.warning-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.warning-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 750px;
  height: 350px;

  padding: 10px;

  background: $secondary;

  overflow-y: auto;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > * {
    width: 100%;
  }

  &__title, &__subtitle {
    color: $button-remove;
    text-align: center;
  }

  &__text--red {
    color: $button-remove;
  }

  &__accept {
    width: 200px;
    margin: 0 auto;

    background: none;
    padding: 10px;

    color: $button-add;
    border: 2px solid $button-add;
    border-radius: 10px;
    cursor: pointer;
    transition: .25s;

    &:hover {
      color: white;
      background: $button-add;
    }
  }
}
