@import '../theme';

@import './media-query';

.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". title title help";

  &__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 30px;
      height: 30px;

      background: none;
      border: none;
      border-radius: 10px;

      margin: 10px;

      cursor: pointer;

      &:hover svg {
        filter: brightness(0.8);
      }

      svg {
        width: 100%;
        height: 100%;

        color: white;

        transition: .15s;
      }
    }

    &--help {
      grid-area: help;
    }
  }

  &__title {
    grid-area: title;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1, h2 {
      text-align: center;
    }
  }
}
